<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transecction Payment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-4">
        <div class="col-lg-2 col-md-4">
            <a href="/user/cart" class="btn btn-primary btn-lg btn-block mb-3">Back</a>
        </div>
        <h1 class="text-center">Payment and Address form </h1>
        <form action="/user/payment" method="post">
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputName" name="name">
            </div>
            <div class="mb-3">
                <label for="exampleInputNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="exampleInputNumber" name="number">
            </div>
            <div class="mb-3">
                <label for="exampleInputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="exampleInputAddress" name="address">
            </div>
            <div class="mb-3">
                <label for="exampleInputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="exampleInputCity" name="city">
            </div>
            <div class="mb-3">
                <label for="exampleInputPin" class="form-label">Pin Code</label>
                <input type="text" class="form-control" id="exampleInputPin" name="pin">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlSelect1" class="form-label">Payment Method</label>
                <select class="form-select" id="exampleFormControlSelect1" name="paymentMethod">
                    <option value="UPI">UPI</option>
                    <option value="Visa">Visa</option>
                    <option value="Mastercard">Mastercard</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleInputState" class="form-label">State</label>
                <input type="text" class="form-control" id="exampleInputState" name="state">
            </div>
            <button type="submit" class="btn btn-primary my-2 mb-5">Submit</button>
        </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
<script>
    // Retrieve data from local storage
    //localStorage.setItem("cartItems", JSON.stringify(cartItems));
    var userData = JSON.parse(localStorage.getItem('cartItems'));

    // Check if userData is not null or undefined
    if (userData) {
        // Prepare request options
        var requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(userData)
        };

        // Send data to the server using Fetch API
        fetch('/user/orderStatus', requestOptions)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Handle successful response from the server
                console.log('Data sent successfully:', data);
            })
            .catch(error => {
                // Handle errors
                console.error('Error:', error);
            });
    } else {
        console.log('No user data found in local storage.');
    }

</script>

</html>